body {
    background-color: black;
    color: white;
    font-family: Arial, Verdana, sans-serif;
  }

  #rstbtn{
    background-color: #463e26;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 60px;
    border-radius: 12px;
  }

#story{
    background-color: #463e26;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 12px;
}

#choices{
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    overflow-x: scroll;
}

ul {
  display: flex;
  justify-content: left;
  align-items: center;
  list-style: none;
}

li {
  text-align: center;
  margin: 0 20px;
  min-width: 150px;
  padding: 15px;
  background-color: #463e26;
  border-radius: 12px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white; 
    text-decoration:none; 
    cursor:pointer;  
}

.choice-button {
  background-color: #463e26;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 12px;
}

.choice-button:hover {
  background-color: white;
  color: #463e26;
}