body {
  background-color: black;
  color: white;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.5rem;
  font-weight: 700;
  height: 500px;
  transition: background-color 0.3s ease;
}

#story{
    background-color: #463e26;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 12px;
    text-align: center;
}

#rstbtn{
    color: white;
    padding: 14px 20px;
    margin: 30px 0px;
    border: none;
    text-align: center;
    width: 120px;
}

#choices{
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    overflow-x: scroll;
}


ul {
  display: flex;
  justify-content: left;
  align-items: center;
  list-style: none;
}

li {
  text-align: center;
  margin: 0 20px;
  min-width: 150px;
  padding: 15px;
}

a {
   color: white;
   text-decoration: none;
}

a:hover {
    color: white; 
    text-decoration:none; 
    cursor:pointer;  
}

.nice-btn {
  background-color: #463e26;
  border: 0 solid white;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none white solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.nice-btn:focus {
  outline: 0;
}

.nice-btn:after {
  content: '';
  position: absolute;
  border: 1px solid white;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.nice-btn:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .nice-btn {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

img{
  width: 500px;
  max-height: 400px;
  height: auto;
}
.light {
  background-color: #f9f9f9;
  color: #333;
}

.dark {
  background-color: #333;
  color: #f9f9f9;
}

/* Toggle switch styles */
.switch {
  position: fixed;
  top: 20px;
  right: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "🌞"; /* Sun emoji */
  font-size: 22px; /* Adjust the size as needed */  
  left: 2px;
  bottom: 4px;
  border-radius: 50%;
  transition: .4s;
}


input:checked + .slider {
  background-color: #4CAF50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
}

input:checked + .slider:before {
  content: "🌜"; /* Moon emoji */
  transform: translateX(26px);
}

/* Toggle text styles */
.toggle-text {
  margin-left: 10px;
  vertical-align: middle;
}
